<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand adjust-padding-header remove-hover-heading padding-left-header">
                Profile
            </span>
            <p class="navbar-text pull-right fixed-top-header-arrow">
                <a href="#!/user/{{model.user._id}}" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="firstName">First Name</label>
    <input name="firstName"
           ng-model="model.user.firstName"
           id="firstName"
           placeholder="alice"
           class="form-control">

    <label for="lastName">Last Name</label>
    <input name="lastName"
           ng-model="model.user.lastName"
           id="lastName"
           placeholder="wonderland"
           class="form-control">

    <label for="username">Usename</label>
    <input name="username"
           ng-model="model.user.username"
           id="username"
           value="alice"
           class="form-control"
           readonly>

    <label for="email">Email</label>
    <input type="email"
           ng-model="model.user.email"
            id="email"
            name="email"
            class="form-control"
            placeholder="alice@google.com">

    <label for="dob">Date of Birth</label>
    <input type="date"
           ng-model="model.user.dob"
           id="dob"
           class="form-control"
           name="dob">

    <a href="#!/user/{{model.user._id}}/website"
       class="btn btn-default btn-block btn-primary">Websites</a>

    <a href="#!/login"
       class="btn btn-default btn-block btn-danger">Logout</a>

    <a class="btn btn-default btn-danger btn-block"
       ng-click="model.unregister()"
       role="button">Unregister</a>

    <a class="btn btn-default btn-primary btn-block"
       ng-click="model.updateUser()"
       role="button">Update</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right fixed-top-header-arrow">
                <a href="#!/user/{{model.user._id}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
