.backgroundImage{
    background-image: url("../img/testimonials-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}