<link href="css/style.css" rel="stylesheet"/>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="widget-list.view.client.html" class="navbar-text pull-left arrow-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
            <span class="fixed-top-header">Choose Widget</span>
            <p class="navbar-text pull-right fixed-top-right-link">

            </p>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item"><a ng-click="model.createHeading()" class="a-tag-color">Header</a> </li>
        <li class="list-group-item"><a ng-click="model.createHeading()" class="a-tag-color">Label</a> </li>
        <li class="list-group-item"><a ng-click="model.createHeading()" class="a-tag-color">HTML</a> </li>
        <li class="list-group-item"><a ng-click="model.createHeading()" class="a-tag-color">Text Input</a> </li>
        <li class="list-group-item"><a ng-click="model.createImage()" class="a-tag-color">Image</a> </li>
        <li class="list-group-item"><a ng-click="model.createYoutube()" class="a-tag-color">Youtube</a> </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right fixed-top-header-arrow">
                <a href="#!/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>