<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-text pull-left arrow-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
            <span class="fixed-top-header">Edit Widget</span>
            <p class="navbar-text pull-right fixed-top-right-link">
                <a ng-click="model.editHeading(model.name,model.text,model.size)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <label for="name">Name</label>
    <input name="name"
           ng-model="model.name"
           id="name"
           class="form-control">

    <label for="text">Text</label>
    <input name="text"
           id="text"
           ng-model="model.text"
           class="form-control"
            value="US Senate Reaches Compromise on Emergency">

    <label for="size">Size</label>
    <select id="size" class="form-control" ng-model="model.size">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
    </select>

    <a ng-click="model.deleteWidget()"
       class="btn btn-default btn-block btn-danger">Delete</a>


</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right fixed-top-header-arrow">
                <a href="#!/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user footer-padding">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>