<link href="css/style.css" rel="stylesheet"/>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-text pull-left arrow-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
            <span class="fixed-top-header">Edit Widget</span>
            <p class="navbar-text pull-right fixed-top-right-link">
                <a ng-click="model.editImage()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <label for="name">Name</label>
    <input name="name"
           ng-model="model.name"
           id="name"
           class="form-control">

    <label for="text">Text</label>
    <input name="text"
           ng-model="model.text"
           id="text"
           class="form-control">

    <label for="url">URL</label>
    <input name="url"
           id="url"
           ng-model = "model.url"
           class="form-control"
            value="https://s-media-cache-ak0.pinimg.com/originals/a3/33/ae/a333aed62873505b21ffbaf54efd9c0d.jpg">

    <label for="width">Width</label>
    <input name="width"
           id="width"
           ng-model="model.width"
           value="100%"
           class="form-control">

    <a class="btn btn-info btn-block" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/search">
        Search
    </a>

    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>


    <label for="upload">Upload</label>
    <input name="upload"
           id="upload"
           type="file"
           class="form-control">

    <a href=""
       class="btn btn-default btn-block btn-primary">Upload</a>
    <a ng-click="model.deleteWidget()"
       class="btn btn-default btn-block btn-danger">Delete</a>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right fixed-top-header-arrow">
                <a href="#!/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user footer-padding">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>